*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    
    border-bottom: 1px solid black;
}
header .container{
    /* position: fixed ; */

    /* background-color: aqua; */
    margin: 0px auto;
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    height: 80px;
}
.logo{
    margin: auto 0px ;
}
.logo img{
    width: 120px;
    height: 65px;
}
nav{
    padding-left: 20px;
    padding-right: 10px;
    width: 400px;
    margin: 10px 0px; 
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 40px;
}
nav a{
    text-decoration: none;
    font-size: 17px;
    color: black;
    /* border-right: 2px solid black; */
    /* padding-right: 4px; */

}
.img-back{
    /* border: 2px solid black; */
    height: 32px;
    width: 32px;
    background-color: #ff385c;
    border-radius: 50%;

}
.img-back img{
    color: aliceblue;
    position: relative;
    left: 15%;
    top: 15%;
  
    height: 22px;
    width: 22px;
    /* background-color: #ff385c; */
    border-radius: 50%;
}
.profile{
    width: 250px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.p1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.p1 img{
    margin-left: 20px;
    width: 17px;
    height: 17px;
}
.p2{
    cursor: pointer;
    margin-left: 20px;
    width: 80px;
    border: 1px solid rgba(0, 0, 0, 0.281) ;
   border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.p2 img:nth-child(1) {
    width: 16px;
    height: 16px;
}
.p2 img:nth-child(2) {
    width: 30px;
    height: 30px;
}




.section1{
    margin-top: 20px;
    width: 1250px;
    /* background-color: aquamarine; */
    margin: 20px auto;
}

.scroll-container{
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.scroll-container div{
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scroll-container img{
    /* background-color: aquamarine; */
    width: 24px;
    height: 24px;
}
.scroll-container p{
    margin-top: 5px;
    font-size: 12px;
    /* background-color: yellowgreen; */
}
.s1-sc-filter{
    /* background-color: #ff385c; */
    width: 80px;
    border: 1px solid black;
    height: 40px;
    border-radius: 10px;
}
.s1-sc-filter img{
    
    margin-right: 10px;
    width: 15px;
    height: 15px;
}





.section2{
    max-width: 1250px;
    margin: 0px auto;
    /* background-color: #ff385c; */
    margin-top: 30px;
}
.section2-container{
   max-width: 1250px;

    /* background-color:lavenderblush; */

    display: flex;
    justify-content: center;
}
.s2-c-div{
    margin: 0px 10px;
    max-width: 400px;
    /* border: 1px solid; */
    /* background-color: aquamarine; */
}
.s2-c-div img{
    border-radius: 10px;
    width: 400px;
    height: 266.66px;
}

.s2-description{
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: space-between;

}
.s2-d-left{
    /* background-color:lawngreen; */

}
.s2-d-right{
    /* background-color: aqua; */
    display: flex;
    margin-left: 0px;
    align-items: flex-start;
}
.s2-d-right img{
    margin-top: 3px;
    width:10px;
    height: 10px;
    
}
.map-btn{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    position: fixed;
    left: 50%;
    bottom:  50px;
}
.map-btn button{
    height: 48px;
    width: 138px;
    border-radius: 30px;
    background-color: black;
    color: white;

}
.map-btn img{
    width: 15px;
    height: 15px;
    background-color: aliceblue;
}
.foot-back{
    background-color:ivory;

  height: 30px;
  width: 100%;  
  position: fixed;
  bottom: 0px;
}
.f-container{
    align-items: center;
    height: 30px;
    position: fixed;
    left: 140px;
    bottom: 0px;
    width: 1250px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
.f-container li{
    list-style: none;
    margin-right:20px ;
}
.f-left{
    display: flex;
}


.f-right{
    display: flex;
}